.tgb_sidebar_filter {

    .view_more {
        display: flex;
        gap: 4px;
        align-items: center;
        padding-left: 24px;
        margin-top: 10px;

        .text {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 14px;
            line-height: 1.4;
            color: #2E2E2E;
        }

        .icon {
            display: inline-flex;
        }
    }


    .button {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
        column-gap: 12px;
        background-color: #255144 !important;
        border-radius: 8px;
        border: none !important;
        outline: none !important;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        color: #FFFFFF;
        margin: 0px !important;
        box-shadow: none !important;
    }

    .heading {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 16px;

        .icon {
            display: inline-flex;
        }

        .text {
            font-size: 20px;
            font-family: 'Inter';
            font-weight: 600;
            line-height: 1.4;
            color: #2E2E2E;
        }
    }

    .filter_form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .filter_line {
        height: 1px;
        width: 100%;
        background-color: #EAEAEA;
    }

    .filter_item {
        .title {
            font-size: 16px;
            font-family: 'Inter';
            font-weight: 600;
            line-height: 1.4;
            color: #2E2E2E;
            margin-bottom: 8px;
        }

        .error_msg {
            color: red;
            margin-top: 4px;
            font-size: 12px;
            font-family: 'Inter';
            font-weight: 400;
            line-height: 1.4;
        }

        .price_range {
            display: flex;
            gap: 4px;
            align-items: center;

            .separator {
                width: 10px;
                flex-shrink: 0;
                background-color: #EAEAEA;
                height: 1px;
            }

            input {
                height: 40px;
                border-radius: 8px;
                border: 1px solid #EAEAEA !important;
                outline: none !important;
                padding: 8px 12px;
                font-size: 14px;
                font-family: 'Inter';
                font-weight: 500;
                line-height: 1.4;
                margin: 0px;
                box-shadow: none !important;

                &::placeholder {
                    color: #C0C0C0;
                }
            }
        }


        .checkboxes {
            input[type="checkbox"] {
                display: none;
            }

            label {
                padding-left: 28px !important;
                position: relative !important;
                font-size: 14px !important;
                line-height: 24px;
                display: block;
                padding: 4px 0px;
                font-size: 16px;
                font-family: 'Inter';
                font-weight: 400;
                line-height: 24px;
                color: #2E2E2E !important;
                margin: 0px !important;
            }

            input[type="checkbox"]+.icon {
                position: absolute;
                left: 0px;
                top: 4px;
                width: 24px !important;
                height: 24px !important;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_6319_3429' fill='white'%3E%3Cpath d='M2 6C2 3.79086 3.79086 2 6 2H18C20.2091 2 22 3.79086 22 6V18C22 20.2091 20.2091 22 18 22H6C3.79086 22 2 20.2091 2 18V6Z'/%3E%3C/mask%3E%3Cpath d='M2 6C2 3.79086 3.79086 2 6 2H18C20.2091 2 22 3.79086 22 6V18C22 20.2091 20.2091 22 18 22H6C3.79086 22 2 20.2091 2 18V6Z' fill='white'/%3E%3Cpath d='M6 2V3H18V2V1H6V2ZM22 6H21V18H22H23V6H22ZM18 22V21H6V22V23H18V22ZM2 18H3V6H2H1V18H2ZM6 22V21C4.34315 21 3 19.6569 3 18H2H1C1 20.7614 3.23858 23 6 23V22ZM22 18H21C21 19.6569 19.6569 21 18 21V22V23C20.7614 23 23 20.7614 23 18H22ZM18 2V3C19.6569 3 21 4.34315 21 6H22H23C23 3.23858 20.7614 1 18 1V2ZM6 2V1C3.23858 1 1 3.23858 1 6H2H3C3 4.34315 4.34315 3 6 3V2Z' fill='%23EAEAEA' mask='url(%23path-1-inside-1_6319_3429)'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            input[type="checkbox"]:checked+.icon {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6C2 3.79086 3.79086 2 6 2H18C20.2091 2 22 3.79086 22 6V18C22 20.2091 20.2091 22 18 22H6C3.79086 22 2 20.2091 2 18V6Z' fill='%233B82F6'/%3E%3Cmask id='mask0_4399_10553' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='3' width='18' height='18'%3E%3Cpath d='M18.6654 7L9.4987 16.1667L5.33203 12' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4399_10553)'%3E%3Crect x='2' y='2' width='20' height='20' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
            }

            // end checkbox style
        }
    }
}