.tgb_footer_main {
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;

    @media screen and (max-width: 849px) {
        margin-bottom: 70px;
    }

    .footer_menu_main {
        margin-bottom: 32px;

        .grid_row {
            --bs-gutter-x: 16px;
            row-gap: 24px;
        }
    }

    .bottom {
        .grid_row {
            --bs-gutter-x: 8px;
            row-gap: 8px;
        }

        .copyright {
            color: #000000;
            font-family: 'Inter';
            font-size: 12px;
            font-weight: 500;
            line-height: 1.4;
        }

        .footer_location {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            @media screen and (max-width: 849px) {
                justify-content: flex-start;
            }
        }
    }

    .showroom {
        padding: 32px 24px;
        border-radius: 8px;
        background-image: url('../images/bg_showroom.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 16px;

        @media screen and (max-width: 849px) {
            padding: 32px 16px;
        }

        .grid_row {
            --bs-gutter-x: 24px;
            row-gap: 32px;
        }

        .item {
            .title {
                display: flex;
                gap: 8px;
                margin-bottom: 12px;
                align-items: center;

                .icon {
                    display: inline-flex;
                }

                .text {
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.4;
                    color: #2E2E2E;
                    text-transform: uppercase;
                }
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .item {
                .grid_row {
                    --bs-gutter-x: 8px;
                    row-gap: 8px;
                }

                .city {
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.4;
                    color: #2E2E2E;
                }

                .address {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .item {
                        .content {
                            font-family: 'Inter';
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 1.4;
                            color: #2E2E2E;
                        }

                        .phone,
                        .phone * {
                            font-family: 'Inter';
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 1.4;
                            color: #2E2E2E;

                            a {
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer_main_col_1 {
        padding-right: 30px;

        @media screen and (max-width: 849px) {
            padding-right: 0px;
        }
    }


    .logo {
        display: inline-flex;
        margin-bottom: 12px;
    }

    .intro {
        .title {
            color: #2E2E2E;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 4px;
        }

        .desc {
            color: #2E2E2E;
            font-family: 'Inter';
            font-size: 12px;
            font-weight: 500;
            line-height: 1.4;
        }
    }

    .footer_menu {
        .title {
            color: #2E2E2E;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 12px;
        }

        .content {
            * {
                color: #818181;
                font-family: 'Inter';
                font-size: 12px;
                font-weight: 500;
                line-height: 1.4;
            }

            strong {
                color: #CE3727 !important;
                font-weight: 700 !important;
            }

            ul {
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                li {
                    padding: 0px;
                    margin: 0px;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .social {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            align-items: center;

            .link {
                display: inline-flex;
            }
        }
    }
}