.product_item {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s;
    background-position: bottom -24px left -24px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-image: none;

    &:hover {
        border: 1px solid #255144;
        background-color: #F4F4F4;
        background-image: url("data:image/svg+xml,%3Csvg width='87' height='80' viewBox='0 0 87 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.05' fill-rule='evenodd' clip-rule='evenodd' d='M85.1776 0H-14.1866C-14.6676 0 -15.1288 0.191052 -15.4689 0.531127C-15.8089 0.871202 -16 1.33244 -16 1.81338V101.187C-16 101.668 -15.8089 102.129 -15.4689 102.469C-15.1288 102.809 -14.6676 103 -14.1866 103H85.1866C85.6676 103 86.1288 102.809 86.4689 102.469C86.809 102.129 87 101.668 87 101.187V1.81338C87 1.33244 86.809 0.871202 86.4689 0.531127C86.1288 0.191052 85.6676 0 85.1866 0M-1.16655 27.8626C-1.64749 27.8626 -2.10873 27.6715 -2.4488 27.3315C-2.78888 26.9914 -2.97993 26.5301 -2.97993 26.0492V14.4073C-2.97996 14.0113 -2.82388 13.6311 -2.54552 13.3494C-2.26717 13.0677 -1.88898 12.907 -1.49296 12.9022H72.1484C72.6294 12.9022 73.0906 13.0933 73.4307 13.4333C73.7708 13.7734 73.9618 14.2346 73.9618 14.7156V88.0215C73.9618 88.5024 73.7708 88.9637 73.4307 89.3037C73.0906 89.6438 72.6294 89.8349 72.1484 89.8349H60.7967C60.3157 89.8349 59.8545 89.6438 59.5144 89.3037C59.1743 88.9637 58.9833 88.5024 58.9833 88.0215V29.4674C58.8745 28.5607 58.5299 28.0439 57.6323 27.8626H-1.16655ZM-0.758538 68.4279H17.1033C17.5842 68.4279 18.0454 68.619 18.3855 68.959C18.7256 69.2991 18.9166 69.7604 18.9166 70.2413V88.1031C18.9048 88.5761 18.7085 89.0258 18.3697 89.3561C18.0309 89.6865 17.5764 89.8713 17.1033 89.8711H-1.03055C-1.4201 89.8711 -1.79371 89.7164 -2.06917 89.4409C-2.34463 89.1655 -2.49938 88.7919 -2.49938 88.4023V70.2685C-2.51166 70.0319 -2.47578 69.7953 -2.39392 69.5731C-2.31206 69.3508 -2.18593 69.1475 -2.02316 68.9754C-1.8604 68.8033 -1.66439 68.666 -1.44701 68.5719C-1.22963 68.4778 -0.995409 68.4288 -0.758538 68.4279ZM-1.16655 55.6345C-1.64749 55.6345 -2.10873 55.4435 -2.4488 55.1034C-2.78888 54.7633 -2.97993 54.3021 -2.97993 53.8211V42.4784C-2.97993 41.9975 -2.78888 41.5363 -2.4488 41.1962C-2.10873 40.8561 -1.64749 40.6651 -1.16655 40.6651H44.3674C44.8484 40.6651 45.3096 40.8561 45.6497 41.1962C45.9898 41.5363 46.1808 41.9975 46.1808 42.4784V88.3207C46.1808 88.7199 46.0222 89.1027 45.74 89.385C45.4577 89.6672 45.0749 89.8258 44.6757 89.8258H32.7165C32.3173 89.8258 31.9345 89.6672 31.6522 89.385C31.3699 89.1027 31.2114 88.7199 31.2114 88.3207V57.2394C31.1026 56.3327 30.758 55.8158 29.8604 55.6345' fill='%231D3F35'/%3E%3C/svg%3E%0A");
    }

    .img_wrap {
        display: flex;
        position: relative;
        height: 0px;
        padding-bottom: 100%;

        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        padding: 8px 8px 16px 8px;

        .title {
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            color: #1D3F35;
            margin-bottom: 4px;
        }

        .price,
        .price * {
            font-family: 'Inter' !important;
            font-size: 16px !important;
            font-weight: 600 !important;
            line-height: 1.4;
            color: #CE3727;
            margin-bottom: 6px;
        }

        .discount {
            display: flex;
            align-items: center;
            gap: 4px;

            .cent {
                padding: 0px 6px;
                background-color: #FCE4D3;
                font-family: 'Inter';
                font-size: 12px;
                font-weight: 600;
                line-height: 1.4;
                color: #CE3727;
                display: inline-flex;
                align-items: center;
                border-radius: 999px;
            }

            .old_price,
            .old_price * {
                color: #2E2E2E;
                text-decoration: line-through;
                font-size: 12px;
                font-weight: 500;
                font-family: 'Inter';
            }
        }
    }

    &.product_item_sale {
        border: none;
        border-radius: 0px;
        overflow: unset;
        padding-top: 2px;
        padding-left: 2px;
        position: relative;
        background-color: transparent !important;
        background-image: none !important;

        .icon_sale {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 99;
        }

        .img_wrap {
            display: flex;
            position: relative;
            height: 0px;
            padding-bottom: 100%;
            border-radius: 8px;
            overflow: hidden;

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 0px;
            padding-top: 8px;
            background-color: transparent;

            .title {
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 700;
                line-height: 1.4;
                color: #1D3F35;
                margin-bottom: 4px;
            }

            .price {
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 600;
                line-height: 1.4;
                color: #CE3727;
                margin-bottom: 6px;
            }

            .discount {
                display: flex;
                align-items: center;
                gap: 4px;

                .cent {
                    padding: 0px 6px;
                    background-color: #FFFFFF;
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.4;
                    color: #1D3F35;
                    display: inline-flex;
                    align-items: center;
                    border-radius: 999px;
                }

                .old_price {
                    color: #2E2E2E;
                    text-decoration: line-through;
                    font-size: 12px;
                    font-weight: 500;
                    font-family: 'Inter';
                }
            }
        }
    }
}