.tgb_top_seller {
    padding: 16px 24px;
    background-color: #FAEDCA;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;

    .pattern {
        position: absolute;
        bottom: -6px;
        left: 0px;

        @media screen and (max-width: 849px) {
            display: none !important;
        }
    }

    .title {
        margin-bottom: 0px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.4;
        color: #2E2E2E;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .text_top {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
        line-height: 1.4;
        color: #2E2E2E;
        margin-bottom: 24px;

        strong {
            color: #0B60EA;
            font-weight: 600;
        }
    }

    .list_product {

        // slick
        &.slick-slider {
            margin: 0px -6px;

            .slick-slide {
                padding: 0px 6px;
            }
        }
    }
}

.tgb_show_noti {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    .icon {
        display: inline-flex;
    }

    .text {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.4;
        color: #2E2E2E;
        margin-bottom: 0px;

        strong {
            font-weight: 600;
            color: #0B60EA;
        }

        @media screen and (max-width: 849px) {
            font-size: 16px;
        }
    }
}

.archive_list {
    .grid_row {
        --bs-gutter-x: 16px;
        row-gap: 16px;

        .grid_col_custom {
            flex: 0 0 auto;
            width: 25%;

            @media screen and (max-width: 849px) {
                width: 50%;
            }
        }
    }
}




.tgb_cat_info {
    margin-bottom: 24px;

    .featured_img {
        padding-bottom: 36%;
        height: 0px;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 16px;

        @media screen and (max-width: 849px) {
            display: none;
        }

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .content {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: #2E2E2E;
    }
}

.archive_product_container {
    margin-top: 24px;
    margin-bottom: 24px;

    @media screen and (max-width: 849px) {
        margin-top: 0px;
    }
}

.tgb_search_form .result {
    display: none;
}

.tgb_search_form .result.is-shown {
    display: block;
}

.post-type-archive-product {
    .category-filtering {
        display: none !important;
    }
}

.archive_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;

    .products_show {
        display: flex;
        align-items: center;
        gap: 8px;

        .text {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 14px;
            line-height: 1.4;
            color: #2E2E2E;
            flex-shrink: 0;
        }

        select {
            margin: 0px;
            height: 36px;
            padding: 8px 28px 8px 12px;
            border: 1px solid #DCDCDC !important;
            border-radius: 8px !important;
            outline: none !important;
            box-shadow: none !important;
            font-family: 'Inter';
            font-weight: 500;
            font-size: 14px;
            line-height: 1.4;
            color: #2E2E2E;
        }
    }
}

.post-type-archive-product {
    .shop-page-title.category-page-title {
        @media screen and (max-width: 849px) {
            display: none !important;
        }
    }
}