.tgb_top_deal {
    padding: 24px;
    background-image: url('../images/bg_top_deal.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;

    .heading {
        @media screen and (max-width: 849px) {
            margin-bottom: 32px;
        }

        .sub_title {
            display: inline-flex;
            align-items: center;
            gap: 4px;
            margin-bottom: 24px;
            position: relative;

            @media screen and (max-width: 849px) {
                margin-bottom: 16px;
            }

            &::before {
                content: '';
                height: 8px;
                width: 100%;
                position: absolute;
                bottom: 0px;
                left: 0px;
                background-color: #FAC4A8;
                z-index: 1;
            }

            .text {
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 700;
                line-height: 1.4;
                color: #2E2E2E;
                position: relative;
                z-index: 2;
            }

            .dot {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #CE3727;
                position: relative;
                z-index: 2;
            }
        }

        .title {
            font-family: 'Inter';
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;
            color: #2E2E2E;
            margin-bottom: 12px;

            span {
                color: #CE3727;
            }
        }

        .btn_link {
            display: inline-flex;
            padding: 10px 20px;
            background-color: #255144;
            border-radius: 8px;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            color: #fff;
        }
    }


    .product_slider {

        // slick
        &.slick-slider {
            margin: 0px -4px;

            .slick-slide {
                padding: 0px 4px;
            }
        }
    }
}