@import 'grid';
@import 'vucoder';

@media screen and (min-width: 850px) {
    #masthead .header-nav-main.nav-left {
        margin-right: 0px !important;
        justify-content: center !important;
        width: 100% !important;
        padding-left: 32px !important;
        padding-right: 32px !important;

        .html_topbar_right,
        .html_topbar_left {
            width: 100% !important;
        }
    }
}

#header {
    .gap2s {
        display: none !important;
    }
}

div#masthead {
    background: #255144 !important;
    height: 108px;
    padding-top: 16px;
    padding-bottom: 16px;

    .header-inner.flex-row {
        align-items: flex-start;
    }
}

// Shortcode: [tgb_search_ui]
.tgb_search_wrapper {
    .tgb_search_form {
        position: relative;

        .result {
            position: absolute;
            top: calc(100% + 4px);
            z-index: 999;
            background-color: #fff;
            height: 290px;
            width: 100%;
            padding: 24px 16px;
            border-radius: 12px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            display: none;

            .title {
                color: #1D3F35;
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 16px;
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 12px;
                height: 204px;
                overflow-y: auto;

                .item {
                    display: flex;
                    gap: 8px;

                    .icon {
                        display: inline-flex;
                    }

                    .text {
                        font-family: 'Inter';
                        font-size: 14px;
                        font-weight: 500;
                        color: #2E2E2E;
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    .tgb_search_input {
        height: 48px;
        width: 100%;
        border: 1px solid #EAEAEA !important;
        border-radius: 8px;
        padding: 12px;
        padding-left: calc(16px + 8px + 24px);
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        background-color: #FFFFFF !important;

        &::placeholder {
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 500;
        }
    }

    .tgb_search_icon {
        position: absolute;
        left: 16px;
        display: inline-flex;
        top: 12px;
    }

    .tgb_search_button {
        padding: 10px 20px;
        background-color: #255144;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 600;
        position: absolute;
        right: 4px;
        top: 4px;
        border-radius: 8px;
        border: none;
        outline: none !important;
        height: 40px;
        align-items: center;
        display: inline-flex;
        line-height: 1;
        margin: 0px;
        color: #fff !important;
    }

    .tgb_search_suggestions {
        display: flex;
        margin-top: 8px;
        column-gap: 0px;
        row-gap: 8px;
        flex-wrap: wrap;
    }

    .tgb_search_link {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        color: #FFFFFF;
        text-decoration: none;
        padding: 0px 12px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 1px;
            background-color: #C0C0C0;
        }

        &:first-child {
            padding-left: 0px;
        }

        &:last-child {
            padding-right: 0px;

            &::after {
                display: none;
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

// end

// Shortcode: [tgb_header_bottom]
#wide-nav>.flex-row>.flex-left {
    width: 100%;
    min-width: unset !important;
    max-width: unset !important;
    margin-right: 0px !important;
}

#wide-nav {
    background-image: unset !important;
    height: 48px !important;

    .nav,
    .html_top_right_text {
        position: static !important;
    }
}

.tgb_header_bottom {
    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;

        .line {
            width: 1px;
            height: 20px;
            background-color: #EAEAEA;
        }

        .item {
            display: flex;
            gap: 8px;
            align-items: center;

            .icon {
                display: inline-flex;
            }

            .text {
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4;
                color: #2E2E2E;
            }
        }
    }

    .main_product_cat_show {
        display: none;
        position: absolute;
        width: 100%;
        height: 480px;
        background-color: #fff;
        top: 100%;
        left: 0px;
        z-index: 99;
        color: #000;
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
        padding-top: 16px;
        padding-bottom: 32px;

        ul {
            padding: 0px;
            margin: 0px;
            list-style-type: none !important;
            margin: 0px;

            &>li {
                display: block;
                // position: relative;
                margin: 0px;
            }
        }

        .list_menu {
            width: 25%;
            position: relative;

            .sub_menu {
                display: none;
                position: absolute;
                left: 100%;
                top: 0px;
                width: 100%;
                height: calc(480px - 16px - 32px);

                &::before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 1px;
                    height: 100%;
                    border-left: 1px solid #EAEAEA;
                    z-index: 100;
                }
            }

            .list_product {
                display: none;
                position: absolute;
                left: 100%;
                width: 200%;
                top: 0px;
                padding: 16px;
                overflow-y: auto;
                height: calc(480px - 16px - 32px);

                &::before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 1px;
                    height: 100%;
                    border-left: 1px solid #EAEAEA;
                    z-index: 100;
                }

                .title {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    font-family: 'Inter';
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.4;
                    color: #2E2E2E;
                    margin-bottom: 24px;
                }

                .grid_row {
                    --bs-gutter-x: 12px;
                    row-gap: 12px;

                    .col_custom {
                        flex: 0 0 auto;
                        width: 20%;
                    }
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 0px;
                    background-color: #fff;

                    img {
                        width: 85px;
                        height: 85px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .text {
                        text-align: center;
                        color: #1D3F35;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 1.4;
                    }
                }
            }

            a {
                display: flex;
                padding: 12px 16px;
                background-color: #fff;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 500;
                line-height: 1.4;
                color: #2E2E2E;
                transition: all 0.3s;
                text-decoration: none !important;
            }

            &>li {
                &:hover {
                    &>a {
                        background-color: #F4F4F4;
                    }

                    &>.sub_menu {
                        display: block;
                    }
                }

                &>ul {
                    &>li {
                        &:hover {
                            &>a {
                                background-color: #F4F4F4;
                            }

                            &>.list_product {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    #main_product_cat {
        height: 48px;

        &:hover {
            .main_product_cat_show {
                display: block;
            }
        }
    }
}


.tgb_header_right {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-top: 4px;

    .line {
        width: 1.5px;
        height: 24px;
        background-color: #EAEAEA;
    }

    .promotion {
        display: flex;
        gap: 8px;
        align-items: center;
        text-decoration: none !important;

        .icon {
            display: inline-flex;
        }


        .text {
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            color: #fff;
        }
    }


    .cart_icon {
        display: flex;
        position: relative;

        .icon {
            display: inline-flex;
        }

        .count {
            position: absolute;
            width: 14px;
            height: 14px;
            background-color: #CE3727;
            color: #fff;
            border-radius: 50%;
            font-family: 'Inter';
            font-size: 10px;
            font-weight: 600;
            line-height: 1.4;
            display: flex;
            align-items: center;
            justify-content: center;
            right: -4px;
            top: -4px;
        }
    }
}

.tgb_header_mb {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #F4F4F4;
    z-index: 99999;
    border-top: 1px solid #C0C0C0;
    display: none;


    .grid_row {
        --bs-gutter-x: 16px;
        row-gap: 16px;

        .col_custom {
            flex: 0 0 auto;
            width: 20%;
        }
    }

    .list {
        padding: 12px 0px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: center;
            align-items: center;

            .icon {
                display: inline-flex;
            }

            .text {
                font-family: 'Inter';
                font-size: 11px;
                font-weight: 600;
                line-height: 1.4;
                color: #1D3F35;
            }
        }
    }
}

.tgb_footer_main {
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;

    .footer_menu_main {
        margin-bottom: 32px;

        .grid_row {
            --bs-gutter-x: 16px;
            row-gap: 24px;
        }
    }

    .bottom {
        .grid_row {
            --bs-gutter-x: 8px;
            row-gap: 8px;
        }

        .copyright {
            color: #000000;
            font-family: 'Inter';
            font-size: 12px;
            font-weight: 500;
            line-height: 1.4;
        }

        .location {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            @media screen and (max-width: 849px) {
                justify-content: flex-start;
            }
        }
    }

    .showroom {
        padding: 32px 24px;
        border-radius: 8px;
        background-image: url('../images/bg_showroom.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 16px;

        @media screen and (max-width: 849px) {
            padding: 32px 16px;
        }

        .grid_row {
            --bs-gutter-x: 24px;
            row-gap: 32px;
        }

        .item {
            .title {
                display: flex;
                gap: 8px;
                margin-bottom: 12px;
                align-items: center;

                .icon {
                    display: inline-flex;
                }

                .text {
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.4;
                    color: #2E2E2E;
                    text-transform: uppercase;
                }
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .item {
                .grid_row {
                    --bs-gutter-x: 8px;
                    row-gap: 8px;
                }

                .city {
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.4;
                    color: #2E2E2E;
                }

                .address {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .item {
                        .content {
                            font-family: 'Inter';
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 1.4;
                            color: #2E2E2E;
                        }

                        .phone {
                            font-family: 'Inter';
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 1.4;
                            color: #2E2E2E;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer_main_col_1 {
        padding-right: 30px;

        @media screen and (max-width: 849px) {
            padding-right: 0px;
        }
    }


    .logo {
        display: inline-flex;
        margin-bottom: 12px;
    }

    .intro {
        .title {
            color: #2E2E2E;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 4px;
        }

        .desc {
            color: #2E2E2E;
            font-family: 'Inter';
            font-size: 12px;
            font-weight: 500;
            line-height: 1.4;
        }
    }

    .footer_menu {
        .title {
            color: #2E2E2E;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 12px;
        }

        .content {
            * {
                color: #818181;
            }

            strong {
                color: #CE3727 !important;
                font-weight: 700;
            }

            ul {
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                li {
                    padding: 0px;
                    margin: 0px;

                    a {
                        text-decoration: none;
                        font-family: 'Inter';
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.4;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .social {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            align-items: center;

            .link {
                display: inline-flex;
            }
        }
    }
}

@media screen and (max-width: 849px) {
    .tgb_header_mb {
        display: block !important;
    }

    #logo {
        width: 40px !important;
        flex-shrink: 0 !important;
        margin: 0px !important;
    }

    #logo img {
        width: 40px !important;
        height: 40px !important;
        object-fit: cover;
        padding: 0px !important;
    }

    .flex-col.show-for-medium.flex-left {
        flex: 1 1 auto;
        width: 100% !important;
    }

    .flex-col.show-for-medium.flex-right {
        display: none !important;
    }

    .header-main li.html.custom {
        display: block !important;
        width: 100% !important;
    }

    .tgb_search_wrapper .tgb_search_button {
        display: none !important;
    }

    .tgb_search_wrapper .tgb_search_suggestions {
        display: none !important;
    }

    .tgb_search_wrapper .tgb_search_input {
        height: 40px !important;
        padding: 8px 4px;
        padding-left: 40px;
        color: #C0C0C0;

        &::placeholder {
            color: #C0C0C0;
        }
    }

    .tgb_search_wrapper .tgb_search_icon {
        top: 8px;
        left: 8px;
    }

    div#masthead {
        height: 72px;
    }

    div#masthead .header-inner.flex-row {
        align-items: center !important;
        gap: 16px;

        &::after,
        &::before {
            display: none;
        }
    }
}

.tgb_livestream_video {
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;

    .heading {
        .title {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 18px;

            .icon {
                display: inline-flex;
            }

            .text {
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 600;
                line-height: 1.4;
                color: #CE3727;
            }
        }
    }

    .livestream_slider {

        // slick
        &.slick-slider {
            margin: 0px -8px;

            .slick-slide {
                padding: 0px 8px;
            }

            .slick-arrow {
                border: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
                overflow: hidden;
                transition: all 0.3s;
                background-color: #fff !important;
                z-index: 500;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

                &::before {
                    content: '' !important;
                    opacity: 1 !important;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 24px;
                    height: 24px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &.slick-disabled {
                    display: none !important;
                }

                &.slick-prev {
                    left: -20px;

                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6L9 12L15 18' stroke='%231D3F35' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    }
                }

                &.slick-next {
                    right: -20px;

                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%231D3F35' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }

        .item {
            .grid_row {
                --bs-gutter-x: 0px;
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid #F4F4F4;
                background-color: #fff;
            }

            .content {
                padding: 12px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                .title {
                    font-family: 'Inter';
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.4;
                    color: #1D3F35;
                    margin-bottom: 0px;
                }

                .desc {
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.4;
                    color: #818181;
                }
            }

            .img_wrap {
                height: 100%;
                position: relative;
                min-height: 140px;

                img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .live {
                    position: absolute;
                    right: 8px;
                    bottom: 8px;
                    display: flex;
                    background-color: #CE3727;
                    padding: 2px 4px;
                    align-items: center;
                    border-radius: 4px;

                    .icon {
                        display: inline-flex;
                    }

                    .text {
                        font-family: 'Inter';
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 1.4;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}


.tgb_list_cat {
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;

    .heading {
        .title {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 16px;

            .icon {
                display: inline-flex;
            }

            .text {
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 600;
                line-height: 1.4;
                color: #255144;
            }
        }
    }


    .list {
        .grid_row {
            --bs-gutter-x: 0px;
            row-gap: 0px;
        }

        .col_custom {
            flex: 0 0 auto;
            width: 12.5%;
        }

        .item {
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            justify-content: center;
            text-align: center;

            img {
                max-width: 100%;
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 110 / 95;
            }

            .title {
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4;
                color: #1D3F35;
            }
        }
    }
}

.tgb_top_deal {
    padding: 24px;
    background-image: url('../images/bg_top_deal.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;

    .heading {
        .sub_title {
            display: inline-flex;
            align-items: center;
            gap: 4px;
            margin-bottom: 24px;
            position: relative;

            &::before {
                content: '';
                height: 8px;
                width: 100%;
                position: absolute;
                bottom: 0px;
                left: 0px;
                background-color: #FAC4A8;
                z-index: 1;
            }

            .text {
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 700;
                line-height: 1.4;
                color: #2E2E2E;
                position: relative;
                z-index: 2;
            }

            .dot {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #CE3727;
                position: relative;
                z-index: 2;
            }
        }

        .title {
            font-family: 'Inter';
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;
            color: #2E2E2E;
            margin-bottom: 12px;

            span {
                color: #CE3727;
            }
        }

        .btn_link {
            display: inline-flex;
            padding: 10px 20px;
            background-color: #255144;
            border-radius: 8px;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            color: #fff;
        }
    }


    .product_slider {

        // slick
        &.slick-slider {
            margin: 0px -4px;

            .slick-slide {
                padding: 0px 4px;
            }
        }
    }
}

.product_item {
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;

    .img_wrap {
        display: flex;
        position: relative;
        height: 0px;
        padding-bottom: 100%;

        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        padding: 8px 8px 16px 8px;
        background-color: #fff;

        .title {
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            color: #1D3F35;
            margin-bottom: 4px;
        }

        .price,
        .price * {
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4;
            color: #CE3727;
            margin-bottom: 6px;
        }

        .discount {
            display: flex;
            align-items: center;
            gap: 4px;

            .cent {
                padding: 0px 6px;
                background-color: #FCE4D3;
                font-family: 'Inter';
                font-size: 12px;
                font-weight: 600;
                line-height: 1.4;
                color: #CE3727;
                display: inline-flex;
                align-items: center;
                border-radius: 999px;
            }

            .old_price,
            .old_price * {
                color: #2E2E2E;
                text-decoration: line-through;
                font-size: 12px;
                font-weight: 500;
                font-family: 'Inter';
            }
        }
    }

    &.product_item_sale {
        border: none;
        border-radius: 0px;
        overflow: unset;
        padding-top: 2px;
        padding-left: 2px;
        position: relative;

        .icon_sale {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 99;
        }

        .img_wrap {
            display: flex;
            position: relative;
            height: 0px;
            padding-bottom: 100%;
            border-radius: 8px;
            overflow: hidden;

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 0px;
            padding-top: 8px;
            background-color: transparent;

            .title {
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 700;
                line-height: 1.4;
                color: #1D3F35;
                margin-bottom: 4px;
            }

            .price {
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 600;
                line-height: 1.4;
                color: #CE3727;
                margin-bottom: 6px;
            }

            .discount {
                display: flex;
                align-items: center;
                gap: 4px;

                .cent {
                    padding: 0px 6px;
                    background-color: #FFFFFF;
                    font-family: 'Inter';
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.4;
                    color: #1D3F35;
                    display: inline-flex;
                    align-items: center;
                    border-radius: 999px;
                }

                .old_price {
                    color: #2E2E2E;
                    text-decoration: line-through;
                    font-size: 12px;
                    font-weight: 500;
                    font-family: 'Inter';
                }
            }
        }
    }
}

.tgb_featured {
    margin-top: 16px;
    margin-bottom: 16px;

    .featured_inner {
        padding: 24px;
        background-image: url('../images/bg_feedtured_1.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        height: 100%;

        &.featured_inner_even {
            background-image: url('../images/bg_feedtured_2.png');
        }

        .pattern {
            position: absolute;
            top: -10px;
            right: 44px;
        }

        .heading {
            margin-bottom: 32px;

            .title {
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 600;
                line-height: 1.4;
                color: #255144;
                margin-bottom: 0px;
            }

            .desc {
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 500;
                line-height: 1.4;
                color: #2E2E2E;
                margin-bottom: 16px;
            }

            .btn_link {
                display: inline-flex;
                align-items: center;
                gap: 4px;

                .icon {
                    display: inline-flex;
                }

                .text {
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.4;
                    color: #255144;
                }
            }
        }

        .list_product {

            // slick
            &.slick-slider {
                margin: 0px -8px;

                .slick-slide {
                    padding: 0px 8px;
                }

                .slick-arrow {
                    border: none;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                    overflow: hidden;
                    transition: all 0.3s;
                    background-color: #fff !important;
                    z-index: 500;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

                    &::before {
                        content: '' !important;
                        opacity: 1 !important;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 24px;
                        height: 24px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    &.slick-disabled {
                        display: none !important;
                    }

                    &.slick-prev {
                        left: -10px;

                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6L9 12L15 18' stroke='%231D3F35' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
                    }

                    &.slick-next {
                        right: -10px;

                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%231D3F35' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }
    }
}

.tgb_section_category {
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow: hidden;

    .heading {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
        padding: 16px 24px;
        background-color: #CAE7DE;

        .title {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 0px;

            .icon {
                display: inline-flex;
            }

            .text {
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 600;
                line-height: 1.4;
                color: #255144;
            }
        }

        .btn_link {
            display: inline-flex;
            align-items: center;
            gap: 4px;

            .icon {
                display: inline-flex;
            }

            .text {
                font-family: 'Inter';
                font-size: 16px;
                font-weight: 500;
                line-height: 1.4;
                color: #255144;
            }
        }
    }


    .list {
        padding: 24px;
        background: #fff;

        .grid_row {
            --bs-gutter-x: 16px;
            row-gap: 16px;

            .col_custom {
                flex: 0 0 auto;
                width: 20%;
            }
        }
    }
}

.tgb_banner_discount {
    margin-top: 16px;
    margin-bottom: 16px;

    .grid_row {
        --bs-gutter-x: 12px;
        row-gap: 12px;
    }

    .img_wrap {
        padding-bottom: 28%;
        height: 0px;
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}


.tgb_banner_main {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;

    .grid_row {
        --bs-gutter-x: 16px;
        row-gap: 16px;
        align-items: center;
    }

    .img_wrap {
        padding-bottom: 50%;
        height: 0px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        &.large {
            padding-bottom: 41%;
        }

        &.small {
            padding-bottom: 40%;
        }

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}