@import 'grid';
@import 'vucoder';

@media screen and (min-width: 850px) {
    #masthead .header-nav-main.nav-left {
        margin-right: 0px !important;
        justify-content: center !important;
        width: 100% !important;
        padding-left: 32px !important;
        padding-right: 32px !important;

        .html_topbar_right,
        .html_topbar_left {
            width: 100% !important;
        }
    }
}

#header {
    .gap2s {
        display: none !important;
    }
}

div#masthead {
    background: #255144 !important;
    height: 108px;
    padding-top: 16px;
    padding-bottom: 16px;

    .header-inner.flex-row {
        align-items: flex-start;
    }
}

// Shortcode: [tgb_search_ui]
.tgb_search_wrapper {
    .tgb_search_form {
        position: relative;

        .result {
            position: absolute;
            top: calc(100% + 4px);
            z-index: 999;
            background-color: #fff;
            height: 290px;
            width: 100%;
            padding: 24px 16px;
            border-radius: 12px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            display: none;

            .title {
                color: #1D3F35;
                font-family: 'Inter';
                font-size: 20px;
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 16px;
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 12px;
                height: 204px;
                overflow-y: auto;

                .item {
                    display: flex;
                    gap: 8px;

                    .icon {
                        display: inline-flex;
                    }

                    .text {
                        font-family: 'Inter';
                        font-size: 14px;
                        font-weight: 500;
                        color: #2E2E2E;
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    .tgb_search_input {
        height: 48px;
        width: 100%;
        border: 1px solid #EAEAEA !important;
        border-radius: 8px;
        padding: 12px;
        padding-left: calc(16px + 8px + 24px);
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        background-color: #FFFFFF !important;

        &::placeholder {
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 500;
        }
    }

    .tgb_search_icon {
        position: absolute;
        left: 16px;
        display: inline-flex;
        top: 12px;
    }

    .tgb_search_button {
        padding: 10px 20px;
        background-color: #255144;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 600;
        position: absolute;
        right: 4px;
        top: 4px;
        border-radius: 8px;
        border: none;
        outline: none !important;
        height: 40px;
        align-items: center;
        display: inline-flex;
        line-height: 1;
        margin: 0px;
        color: #fff !important;
    }

    .tgb_search_suggestions {
        display: flex;
        margin-top: 8px;
        column-gap: 0px;
        row-gap: 8px;
        flex-wrap: wrap;
    }

    .tgb_search_link {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        color: #FFFFFF;
        text-decoration: none;
        padding: 0px 12px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 1px;
            background-color: #C0C0C0;
        }

        &:first-child {
            padding-left: 0px;
        }

        &:last-child {
            padding-right: 0px;

            &::after {
                display: none;
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

// end

// Shortcode: [tgb_header_bottom]
#wide-nav>.flex-row>.flex-left {
    width: 100%;
    min-width: unset !important;
    max-width: unset !important;
    margin-right: 0px !important;
}

#wide-nav {
    background-image: unset !important;
    height: 48px !important;

    .nav,
    .html_top_right_text {
        position: static !important;
    }
}

.tgb_header_bottom {
    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;

        .line {
            width: 1px;
            height: 20px;
            background-color: #EAEAEA;
        }

        .item {
            display: flex;
            gap: 8px;
            align-items: center;

            .icon {
                display: inline-flex;
            }

            .text {
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4;
                color: #2E2E2E;
            }
        }
    }

    .main_product_cat_show {
        display: none;
        position: absolute;
        width: 100%;
        height: 480px;
        background-color: #fff;
        top: 100%;
        left: 0px;
        z-index: 99;
        color: #000;
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
        padding-top: 16px;
        padding-bottom: 32px;

        ul {
            padding: 0px;
            margin: 0px;
            list-style-type: none !important;
            margin: 0px;

            &>li {
                display: block;
                // position: relative;
                margin: 0px;
            }
        }

        .list_menu {
            width: 25%;
            position: relative;

            .sub_menu {
                display: none;
                position: absolute;
                left: 100%;
                top: 0px;
                width: 100%;
                height: calc(480px - 16px - 32px);

                &::before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 1px;
                    height: 100%;
                    border-left: 1px solid #EAEAEA;
                    z-index: 100;
                }
            }

            .list_product {
                display: none;
                position: absolute;
                left: 100%;
                width: 200%;
                top: 0px;
                padding: 16px;
                overflow-y: auto;
                height: calc(480px - 16px - 32px);

                &::before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 1px;
                    height: 100%;
                    border-left: 1px solid #EAEAEA;
                    z-index: 100;
                }

                .title {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    font-family: 'Inter';
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.4;
                    color: #2E2E2E;
                    margin-bottom: 24px;
                }

                .grid_row {
                    --bs-gutter-x: 12px;
                    row-gap: 12px;

                    .col_custom {
                        flex: 0 0 auto;
                        width: 20%;
                    }
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 0px;
                    background-color: #fff;

                    img {
                        width: 85px;
                        height: 85px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .text {
                        text-align: center;
                        color: #1D3F35;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 1.4;
                    }
                }
            }

            a {
                display: flex;
                padding: 12px 16px;
                background-color: #fff;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 500;
                line-height: 1.4;
                color: #2E2E2E;
                transition: all 0.3s;
                text-decoration: none !important;
            }

            &>li {
                &:hover {
                    &>a {
                        background-color: #F4F4F4;
                    }

                    &>.sub_menu {
                        display: block;
                    }
                }

                &>ul {
                    &>li {
                        &:hover {
                            &>a {
                                background-color: #F4F4F4;
                            }

                            &>.list_product {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    #main_product_cat {
        height: 48px;

        &:hover {
            .main_product_cat_show {
                display: block;
            }
        }
    }
}


.tgb_header_right {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-top: 4px;

    .line {
        width: 1.5px;
        height: 24px;
        background-color: #EAEAEA;
    }

    .promotion {
        display: flex;
        gap: 8px;
        align-items: center;
        text-decoration: none !important;

        .icon {
            display: inline-flex;
        }


        .text {
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            color: #fff;
        }
    }


    .cart_icon {
        display: flex;
        position: relative;

        .icon {
            display: inline-flex;
        }

        .count {
            position: absolute;
            width: 14px;
            height: 14px;
            background-color: #CE3727;
            color: #fff;
            border-radius: 50%;
            font-family: 'Inter';
            font-size: 10px;
            font-weight: 600;
            line-height: 1.4;
            display: flex;
            align-items: center;
            justify-content: center;
            right: -4px;
            top: -4px;
        }
    }
}