@import 'grid';
@import 'editor';
@import 'cart';
@import 'product';
@import 'post';
@import 'category';
@import 'header';
@import 'footer';
@import 'list_cat';
@import 'featured';
@import 'product_item';
@import 'top_deal';
@import 'livestream';
@import 'banner';
@import 'filter';
@import 'pagination';
@import 'shop';
@import 'btn';
@import 'sec_cat';
@import 'menu-right';
@import 'tgb_desc_box';

@mixin line-clamp($lines) {
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-1 {
    @include line-clamp(1);
}